<a href="https://colab.research.google.com/github/Rajvi-19/Authentication/blob/main/py_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd

excel = pd.read_excel("Finance_document.xlsx", sheet_name="Sheet1")

# Create the df variable from the excel DataFrame
df = excel.copy()

# Write to CSV (optional, you can remove this if you don't need the CSV file)
df.to_csv("data.csv", index=False)

# Now df is a DataFrame, so groupby() can be called
df["Revenue Growth (%)"] = df.groupby(['Company'])['Revenue'].pct_change() * 100

# Income growth
df['Net Income Growth (%)'] = df.groupby(['Company'])['Net Income'].pct_change() * 100

# Convert relevant columns to numeric, coercing errors
df['Net Income'] = pd.to_numeric(df['Net Income'], errors='coerce')
df['Revenue'] = pd.to_numeric(df['Revenue'], errors='coerce')
df['Total Assets'] = pd.to_numeric(df['Total Assets'], errors='coerce')
df['Total Liabilities'] = pd.to_numeric(df['Total Liabilities'], errors='coerce')

#Profit margin
df["Profit Margin (%)"] = (df["Net Income"] / df["Revenue"]) * 100

# Return on Assets
df["ROA (%)"] = (df["Net Income"] / df["Total Assets"]) * 100

#Debt to asset ratio
df["Debt to Asset Ratio"] = df["Total Liabilities"] / df["Total Assets"]


# Display the updated DataFrame
display(df)

,Year,Revenue,Operating income,Net Income,Total Assets,Company,Total Liabilities,Operating cash flow,Revenue Growth (%),Net Income Growth (%),Profit Margin (%),ROA (%),Debt to Asset Ratio
0,2025,281724,128528,101832,619003.0,Microsoft,275524.0,136162,NaN,NaN,36.146015,16.450970,0.445109
1,2024,245122,109433,88136,512163.0,Microsoft,243686.0,118548,-12.992148,-13.449603,35.955973,17.208584,0.475798
2,2024,391035,123216,93736,364980.0,Apple,NaN,"118,254",NaN,NaN,23.971256,25.682503,NaN
3,2023,383285,"114,301",96995,NaN,Apple,290437.0,110543,-1.981920,3.476786,25.306234,NaN,NaN
4,2024,97690,7076,7153,122070.0,Tesla,48390.0,14923,NaN,NaN,7.322141,5.859753,0.396412
5,2023,96773,8891,14974,106618.0,Tesla,43009.0,13256,-0.938684,109.338739,15.473324,14.044533,0.403393